.blogMain {
  padding-top: 50px;
}

.title {
  font-size: 4em;
}

.subtitle {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .blogMain {
    margin: 0 10px;
  }
  .title {
    font-size: 2.2em;
  }
}
