.blogMain {
  padding-top: 50px;
}

.title {
  font-size: 4em;
}

.subtitle {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .blogMain {
    margin: 0 10px;
    line-height: 1.6em;
  }
  .title {
    font-size: 3em;
  }
}
