.blogCard {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  background-color: white;
  min-width: 100%;
}
.date {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.title {
  border-bottom: 2px solid rgb(20, 166, 211);
}

.description {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
  color: rgba(0, 0, 0, 0.7);
}

.author {
  align-self: flex-end;
  font-style: italic;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.primaryImage {
  grid-row: 1 / span 2;
}
