.blogGrid {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 970px) {
  .blogGrid {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .blogGrid {
    margin: 20px;
  }
}
